main {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.auth-form {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
}
