main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 25px;
}

.auth-form {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
}
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.form-root {
  width: 260px;
}

.form-field {
  display: grid;
  margin-bottom: 10px;
}

.form-lable {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.form-message {
  font-size: 13px;
  color: white;
  opacity: 0.8;
}

.form-input,
.form-input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  background-color: var(--background);
  box-shadow: 0 0 0 1px var(--accent);
}

.form-input:hover {
  box-shadow: 0 0 0 1px black;
}

.form-input:focus {
  box-shadow: 0 0 0 2px black;
}

.form-input::selection {
  background-color: var(--black-a6);
  color: white;
}

.form-input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a4);
}

.submit:hover {
  background-color: var(--mauve-3);
}

.submit:focus {
  box-shadow: 0 0 0 2px black;
}
