

.profile-image {
    align-self: center;
    width: 100px;
    height: 100px;
}



.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 1rem;
}

.profile-header > * {
    margin: 0px;
}

.profile-name {
    font-size: 64px;
}

.profile-posts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}