

.profile-image {
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 1rem;
    text-align: center;
    align-content: center;
}

.profile-header > * {
    margin: 0px;
}

.profile-name {
    font-size: 64px;
    
}

.profile-posts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-joined-at{
    display: inline-block;
    position: relative;
}