
.settings-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

main {
  padding: 10px;
}

.update-user {
  display: grid;
  text-align: start;
  row-gap: 0.25rem;
  width:100%;
}

.update-user  > span {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.update-user > span >input, .update-user > span > select, .update-user > span > button {
    align-self: flex-end;
}

.password-reset-container {
  margin-top: 32px;
}

select {
  padding: 12px;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

#save {
  align-self: flex-end;
}

.password-reset {
  display: flex;
  background-color: var(--background-100);
  --border: 12px;
  border-radius: var(--border);
  border-color: transparent;
  flex-grow: 0.1;
}


.password-reset > input {
  align-self: center;
  border-radius: 0px;
  border-top-left-radius: var(--border);
  border-bottom-left-radius: var(--border);
  flex-grow: 1
}

.password-reset > input:focus {
  outline: none;
}

.password-reset:has(> input:focus) {
  border: solid var(--accent-500) 1px;
}

.password-reset > button {
  position: relative;
  y: 0px;
  x: 0px;
  border-radius: 0px;
  border-top-right-radius: var(--border);
  border-bottom-right-radius: var(--border);
  background-color: var(--primary-500);
  color: var(--text-50);
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

#save {
    width: 20%;
    align-self: flex-end;
}

#delete-account, #delete-all-posts {
    border: 1px red solid;
}

#delete-account:hover {
    background-color: red;
    color: white;
}