.settings-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

main {
  padding: 10px;
}

.update-user {
  display: grid;
  text-align: start;
  row-gap: 0.25rem;
  width: 100%;
}

.update-user > span {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.update-user > span > input,
.update-user > span > select,
.update-user > span > button {
  align-self: flex-end;
}

.password-reset-container {
  margin-top: 32px;
}

select {
  padding: 12px;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}

#save {
  align-self: flex-end;
}

.password-reset {
  display: flex;
  background-color: var(--background-bg);
  --border: 12px;
  border-radius: var(--border);
  border: solid 1px var(--background-border);
}

.password-reset > input {
  align-self: center;
  border-color: transparent;
  border-radius: 0px;
  border-top-left-radius: var(--border);
  border-bottom-left-radius: var(--border);
  background-color: inherit;
  flex-grow: 1;
  outline: none;

  color: var(--background-text);
}

.password-reset > input:focus {
  border-color: transparent;
}

.password-reset:has(input:focus-within) {
  border: solid var(--accent-border-hover) 1px;
}

input {
  border: solid 1px var(--background-border);
}

input:focus-within {
  border: solid var(--accent-border-hover) 1px;
}

.password-reset > button {
  position: relative;
  y: 0px;
  x: 0px;
  border-radius: 0px;
  border-top-right-radius: var(--border);
  border-bottom-right-radius: var(--border);
  background-color: var(--accent-solid);
  color: var(--background-base);
}

.password-reset > button:hover {
  background-color: var(--accent-solid-hover);
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

#save {
  width: 20%;
  align-self: flex-end;
}

progress {
  position: static;
  height: 2px;
  top: 0px;
}