@import "styles/theme.css";
@import "styles/components/Button.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: xx-large;
  color-scheme: light dark;

  color: var(--background-text);
  background-color: var(--background-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 0px 0px 0px !important;
  margin-right: 0px 0px 0px 0px !important;
  width: 100% !important;
}

#root {
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

a {
  font-weight: 500;
  color: var(--accent-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-solid);
}

body {
  margin: 0px;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

svg {
  fill: var(--accent-solid);
}
svg:hover {
  fill: var(--accent-solid-hover);
}

input {
  border-radius: 8px;
  padding: 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: outline-color 0.25s;
  background-color: var(--background-bg);
  border: solid 1px var(--background-border);
  color: var(--background-text);

  outline: none;
}

input:focus-within {
  border: solid var(--accent-border-hover) 1px;
  outline: 0px;
}
input:invalid {
  outline: 1px solid var(--danger-border) !important;
}

form > * {
  margin-bottom: 10px;
}

form button {
  width: 100%;
}

.loading {
  animation: hr-loading-anim 1s linear infinite;
  padding: 1px;
  border-width: 0px;
}

@keyframes hr-loading-anim {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

main {
  text-align: center;
}

/* Tooltip text */
.tooltip {
  position: absolute;
  visibility: hidden; /* Hidden by default */
  width: fit-content;
  top: 100%;
  left: 50%;
  margin-left: -65px;
  text-align: center;

  padding: 5px;
  filter: invert(100%);
  backdrop-filter: blur(20px);
  font-size: small;
  background-color: rgba(128, 128, 128, 0.466);
  user-select: all;
  stroke: aqua;
  border-radius: 2px;

  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
*:hover > .tooltip {
  visibility: visible;
}

.context-menu {
  position: absolute;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  display: none;
  border: 1px solid var(--accent-border);
  border-radius: 12px;
  background: rgb(from var(--background-base) r g b / 75%);
  backdrop-filter: blur(20px);
  box-shadow: 4px 1px 20px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 1px 20px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 1px 20px 3px rgba(0, 0, 0, 0.3);
  transition: 1s display;
  gap: 5px;
}

.context-menu:open {
  display: flex;
}

.context-menu button {
  background-color: transparent;
  border: solid 2px transparent;
  border-radius: 0px;
}

.context-menu button:not(:last-child) {
  border-color: transparent transparent var(--background-solid) transparent;
}

.context-menu button:hover {
  background-color: var(--background-bg-hover);
}
