:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: xx-large;
  color-scheme: light dark;
  color: rgba(22, 21, 21, 0.87);
  background-color: #e0dada;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: outline-color 0.25s;

}
input:hover {
  outline-color: #646cff
}
input:invalid {
  outline: 1px solid red !important;
}

form > * {
  margin-bottom: 10px;
}

form button {
  width: 100%;
}

.loading{
  animation: hr-loading-anim 1s linear infinite;
  padding: 1px;
  background: #2679d1;
  border-width: 0px;
}

@keyframes hr-loading-anim {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}