

footer {
    background-color: darkgrey;
    align-self: flex-end;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: smaller;
}

footer:first-child {
    align-self: flex-start;
}

li {
    list-style: none;
}

ul > :first-child {
    font-size: larger;
    font-weight: bolder;
}