

.blog-header {
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;

    min-width: 100%;
    width: 100vw;

    border-bottom: solid;

    background-color: rgba(196, 194, 194, 0.5);
    backdrop-filter: blur(20px);
}

.blog-header > * {
    margin: 10px;
}

.blog-header:nth-child(1){
    align-self: flex-start;
}

.blog-header {
    line-height: 60px;
    font-size: 60px;
}

.header-placeholder {
    height: 0px;
}

.profile-image{
    height: 64px;
    top: 0px;
    left: 0px;

    outline-offset: -2px;
    outline-color: red;
    outline-width: 0px;
    outline-style: solid;
    border-radius: 50%;

    transition: outline-width 1s;
}

.profile-image:hover {
    outline-width: 2px;
}