.blog-header {
  z-index: 2;

  position: fixed;

  display: flex;
  flex-direction: row;

  min-width: 100%;
  width: 100%;

  border-bottom: solid;
  justify-content: space-between;

  background-color: var(--background-bg);
  color: var(--background-text);


  backdrop-filter: blur(20px);
}

.blog-header > * {
  margin: 10px;
}

.blog-header:nth-child(1) {
  align-self: flex-start;
}

.blog-header {
  line-height: 60px;
  font-size: 60px;
}

.header-placeholder {
  min-height: 70px;
}

.header-profile-image {
  align-self: flex-end;
  height: 64px;
  top: 0px;
  left: 0px;

  outline-offset: -2px;
  outline-width: 0px;
  outline-style: solid;
  border-radius: 50%;

}

.header-profile-image:hover {
  outline-width: 2px;
}

.header-posts {
  align-self: flex-start;
  font-size: 42px;
  margin-left: 26px;
}

.header-links-container {
  display: flex;
}

.profile-navigation {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 1rem;
  user-select: none;
  width: fit-content;
  font-size: 24px;
  visibility: hidden;

  display: flex;
  flex-direction: column;
}

.profile-navigation button {
  border-radius: 0px;
  align-items: center;
  display: flex;
  gap: 5px;
}

.profile-image-container:hover > .profile-navigation {
  visibility: visible;
}


.login-button {
  width: fit-content;
  height: 60px;
}

