.blog-header {
  z-index: 2;

  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 100%;
  width: 100%;

  border-bottom: solid;
  justify-content: space-between;

  background-color: var(--background-bg);
  color: var(--background-text);


  backdrop-filter: blur(20px);

  padding: 12px 0px 12px 0px;
}



.blog-header:nth-child(1) {
  align-self: flex-start;
}

.blog-header {
  line-height: 60px;
  font-size: 60px;
}

.header-placeholder {
  min-height: 84px;
}


.actions-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
  margin-right: 12px;
}

.header-profile-image {
  align-self: center;
  padding: 5px;
  height: 58px;
  width: 60px;


  outline-offset: -2px;
  outline-width: 0cqh;
  outline-style: solid;
  border-radius: 50%;

}

.header-profile-image:hover {
  outline-width: 2px;
}

.header-posts {
  align-self: flex-start;
  font-size: 42px;
  margin-left: 26px;
}

.header-links-container {
  display: flex;
}

.profile-navigation {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 1rem;
  user-select: none;
  width: fit-content;
  font-size: 24px;
  visibility: hidden;
  
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.profile-navigation button {
  border-radius: 0px;
  align-items: center;
  display: flex;
  gap: 5px;
}

.profile-image-container:hover > .profile-navigation {
  visibility: visible;
}


.login-button {
  width: fit-content;
  height: 60px;
}

.actions-container > svg {
  align-self: flex-end;
  margin: 10px 0%;
  height: 60px;
  scale: 0.75;

  border: 2px solid var(--background-solid);
  border-radius: 12px;
  padding: 5px;
  width: max-content;
  margin: 0px;
}