.notification-viewport {
  --viewport-padding: 25px;
  position: fixed;
  top: 86px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.notification {
  --base-color: rgb(250, 1, 1);
  background-color: rgb(from var(--base-color) r g b / 0.75);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  color: white;
  padding: 15px;
  display: grid;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}
.notification[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.notification[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.notification[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.notification[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.notification[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.notification-title {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--slate-12);
  font-size: 15px;
  user-select: none;
}

.notification-desc {
  grid-area: description;
  margin: 0;
  color: var(--slate-11);
  font-size: 13px;
  line-height: 1.3;
  user-select: all;
}

.notification-action {
  grid-area: action;
}

.notification-dismiss {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
  color: white;
}

.notification-dismiss:hover {
    color: rgb(from var(--base-color) 255 255 255 / 0.5)
}
