.post-container {
  background-color: var(--background-bg);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 12px;

  width: fit-content;
  height: min-content;
  margin: 20px;
  padding: 10px;
  text-align: start;
}

.post-container-header {
  width: 65vw;
  display: flex;
  background-color: var(--background-bg);
  height: max-content;
  justify-content: space-between;
  width: 100%;
}
.post-container-header > div {
  display: flex;
}

.post-container-content {
  border: none !important;
  font-size: 18px;
  padding: 0px;
  resize: vertical;
  padding: 5px;
}

.post-caption {
  border-radius: 0px;
  font-size: 32px;
  border: none;
  outline: 0px;
  width: max-content;
  flex-grow: 1;
  background-color: var(--background-bg);
  color: var(--background-text-contrast);
  border-bottom: 2px solid transparent;
}

.post-caption {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.post-locked-icon {
  height: 46px;
  align-self: center;
  align-self: flex-end;
  width: max-content;
  fill: var(--background-text);
}

.post-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--background-text);
}

button {
  padding: 5px;
}

.create-post-submit {
  align-self: flex-end;
  width: fit-content;
  padding: 12px;
}

.post-container-content {
  font-size: 24px;
  background-color: var(--background-bg-hover);
  box-shadow: 0 0px 1px 1px var(--background-border);
  color: var(--background-text);
  border: groove;
}

textarea:disabled {
  resize: none;
}

.deleted-post {
  width: 0px;
  height: 0px;
  display: none;
}

.end-actions {
  align-self: flex-end;
  display: flex;

  gap: 20px;
}

.end-actions svg {
  fill: var(--background-text);
}

.end-actions *:hover svg {
  fill: var(--background-text-contrast);
}
