.post-container {
  background-color: var(--secondary-200);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 12px;

  width: fit-content;
  height: min-content;
  margin: 20px;
  padding: 10px;
  text-align: start;
}

.post-container-header {
  width: 65vw;
  display: flex;
  background-color: var(--secondary-200);
  height: max-content;
  justify-content: space-between;
  width: 100%;
}
.post-container-header > div {
  display: flex;
}

.post-container-content {
  border: none !important;
  border-top: 2px solid var(--accent-800) !important;
  border-bottom: 2px solid var(--accent-800) !important;
  font-size: 18px;
  padding: 0px;
  resize: vertical;
  padding: 5px;
}

.post-caption {
  border-radius: 0px;
  border: none;
  outline: 0px;
  width: max-content;
  flex-grow: 1;
  background-color: var(--secondary-200);
  color: var(--text-500);
  border-bottom: 2px solid transparent;
}

.post-caption:invalid {
  border-bottom: 2px solid var(--error-400);
}

.post-caption:is(input):focus {
  border-bottom: 2px solid var(--secondary-200);
}

.post-locked-icon {
  height: 46px;
  align-self: center;
  align-self: flex-end;
  width: max-content;
  fill: var(--text-700);
}

.post-locked {
  align-self: flex-end;
  stroke: var(--text-500);
}

form {
  background-color: var(--secondary-200);
  outline-color: var(--accent-800);
  border-radius: 12px;
}

fieldset {
  border-color: groove;
  margin: 0px;
}

.post-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-500);
}

button {
  padding: 5px;
}

.create-post-submit {
  align-self: flex-end;
  width: fit-content;
  padding: 12px;
}

.post-container-content {
  background-color: var(--secondary-200);
  box-shadow: 0 0px 1px 1px var(--accent-800);
  color: var(--text-500);
  border: groove;
}

.delete-post-button {
  background-color: var(--error-500);
  color: var(--text-50);
}

textarea:disabled {
  resize: none;
}

.deleted-post {
  width: 0px;
  height: 0px;
  display: none;
}

.end-actions {
  align-self: flex-end;
  display: flex;

  gap: 20px;
}

.end-actions svg {
    fill: var(--text-50);
}