
.post-container {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 12px;

    width: fit-content;
    height: min-content;
    margin: 20px;
    padding: 10px;
    text-align: start;
}

.post-container-header {
    width: 65vw;
    display: flex;
    background-color: darkgray;
    height: max-content;
    justify-content: space-between;
    width: 100%;
}
.post-container-header > div {
    display: flex;
}

.post-container-content {
    border: none !important;
    border-top: 2px solid grey !important;
    border-bottom: 2px solid grey !important;
    font-size: 18px;
    padding: 0px;
    resize: vertical;
    padding:  5px;
}

.post-caption {
    border-radius: 0px;
    border: none;
    outline: 0px;
    width: max-content;
    background-color: darkgray;
    color: rgb(39, 37, 37);
    border-bottom: 2px solid transparent;
}

.post-caption:is(input):focus {

    border-bottom: 2px solid purple;
}

.post-locked-icon {
    height: 46px;
    align-self: center;
}

.post-locked {
    align-self: flex-end;
}

form {
    background-color: darkgray;
    outline-color: blueviolet;
    border-radius: 12px;
    
}

fieldset {
    border-color: groove;
    margin: 0px;
}

.post-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    padding: 5px;
}

.create-post-submit{
    align-self: flex-end;
    width: fit-content;
    padding: 12px;
}

.post-container-content {
    background-color: darkgray;
    border: groove;
}

.delete-post-button {
    background-color: red;
    color: white;
}

textarea:disabled {
    color: inherit;
    resize: none;
}

.deleted-post {
    width: 0px;
    height: 0px;
    display: none;
}

.end-actions {
    align-self: flex-end;
    display: flex;
    
    gap: 20px;
}