.post-container {
  background-color: var(--background-bg);
  border: 5px solid var(--background-border);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 12px;
  margin: 20px;
  padding: 10px;
  text-align: start;
}

.post-container-header {
  width: 65vw;
  display: flex;
  background-color: var(--background-bg);
  height: max-content;
  justify-content: space-between;
  width: 100%;
}
.post-container-header > div {
  display: flex;
}

.post-container-content {
  border: solid;
  border-color: var(--background-border);
  font-size: 15px;
  padding: 0px;
  resize: none;
  width: fit-content;
  height: fit-content;
  max-width: calc(100% - 60px);
  min-width: calc(100% - 10px);
  min-height: calc(100% - 125px);
  max-height: calc(100% - 20px);
  --current-w: calc(width);
  --current-h: calc(height);
  overflow: hidden;
}

.post-container-content:hover:not(:has(*[href="$attr-noscroll"])) {
  animation: 100s 500ms running delayedScroll;
  animation-iteration-count: infinite;
}


.post-container-content:has(*[href="$attr-image"]) * {
  width: 100%;
  height: 100%;
}

.post-container-content:has(*[href="$attr-nopad"]) * {
  padding: 0px;
  margin: 0px;
}

.post-container-content *[href |= "$attr"] {
  display: none;
}

@keyframes delayedScroll {
  0% {
    overflow: scroll;
    border: 2px red solid;
  }
  100% {
    border: 2px red solid;
    overflow: scroll;
    user-select: none;
  }
}

.post-container-content textarea {
  border: none !important;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding: 0px;
  resize: none;
  max-width: calc(100% - 60px);
  min-width: calc(100%);
  min-height: calc(100%);
  max-height: calc(100%);
  padding: 5px;
}

.post-container-content > :first-child {
  margin-top: 0px !important;
}

.post-container-content h1 {
  font-size: 42px;
}
.post-container-content h2 {
  font-size: 32px;
}
.post-container-content h3 {
  font-size: 26px;
}
.post-container-content h4 {
  font-size: 20px;
}

.post-caption {
  border-radius: 0px;
  font-size: 32px;
  border: none;
  outline: 0px;
  width: max-content;
  flex-grow: 1;
  background-color: var(--background-bg);
  color: var(--background-text-contrast);
  border-bottom: 2px solid transparent;
}

.post-caption {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.post-locked-icon {
  height: 46px;
  align-self: center;
  align-self: flex-end;
  width: max-content;
  fill: var(--background-text);
}

.post-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--background-text);
}

button {
  padding: 5px;
}

.create-post-submit {
  align-self: flex-end;
  width: fit-content;
  padding: 12px;
}

.post-container-content {
  font-size: 24px;
  background-color: var(--background-bg-hover);
  box-shadow: 0 0px 1px 1px var(--background-border);
  color: var(--background-text);
  border: groove;
}

textarea:disabled {
  resize: none;
}

.deleted-post {
  width: 0px;
  height: 0px;
  display: none;
}

.end-actions {
  align-self: flex-end;
  display: flex;

  gap: 20px;
}

.end-actions svg {
  fill: var(--background-text);
}

.end-actions *:hover svg {
  fill: var(--background-text-contrast);
}
